[Desktop Entry]
Name=HTML Table Visual Editor
Comment=Editor visual de tablas HTML
Exec=python3 /RUTA/COMPLETA/html_table_visual_editor.py
Icon=text-html
Terminal=false
Type=Application
Categories=Development;Office;
